
/* PART ONE */

/* default values/attributes for all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}/* end */


/* Background color of the webpage */
body {
    background-color: #d9dcd6;
}   /* end */


/* Header Bar with Horiseon logo */
/* padding controls thickness of navbar */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
} /* end */


/* Horiseon logo*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}   /* end */


li a{
    display: block;
    color: rgb(255, 255, 255);
    padding: 1.6vh 1.8vh;
    text-decoration: none;
    transition: 0.4s;
    font-size: 1.2em;
}


    /* Subsection: The SEO colouring */
    /* lol hope our client isn't attached to their awful white/grey logo */
.header h1 .seo {
    color: #ff0000;
}   /*end */

/*Subsection: */
.header div {
    margin-right: 300px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}   /* end */


/* Subsection: Top Nav Bar Margins*/
/* this controls the margins of the Navigation Bar at the top.*/
.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 75px;
}   /* end */

/* New Subsection: make the menu button shadowy on hover
/* probably a better place to put this */
li a:hover {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2em;
    background-color: #083347;
    }   /* end */


/* Subsection: Active Link Text Style
/* Active (working) links are colored and styled by this section. */
a {
    color: #ffffff;
    text-decoration: none;
}   /* end */

/* Subsection: Paragraph Text 
/* this controls paragraph text <p> font size and font style */
p {
    font-size: 28px;
}   /* end */

.p2 {
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}   /* end */


/* Subsection: Big heroic meeting image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}   /* end */

/* Floating section - not sure what this does yet */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}   /* end */

/* Content section - not sure what this does yet */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}   /* end*/









/* PART TWO */











/* Benefits Sidebar */
.sidebarpara {
    font-size: 42;


}


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    background-color: #ff7b00;
}

.benefit-lead {
    margin-bottom: 2px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 2px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 2px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 1px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.benefit-brand h3 {
    margin-bottom: 1px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.benefit-cost 
 {
    margin-bottom: 1px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.benefit-lead img {
    display: block;
    margin: 1px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 1px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 1px auto;
    max-width: 150px;
}
/* end */


/* Main Body Section - */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 230px;
}

.online-reputation-management img {
    max-height: 230px;
}

.social-media-marketing img {
    max-height: 230px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* end */

/* Footer Section */ 
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
/* end */